@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");
:root {
  --xpos: 0;
  --ypos: 0; }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Nunito', sans-serif; }

h1,
.h1 {
  font-size: 2.441rem; }

h2,
.h2 {
  font-size: 1.953rem; }

h3,
.h3,
.home main p > span {
  font-size: 1.563rem; }

h4,
.h4,
.home main p,
.home main a,
.home .nav [class^='item-'] p,
footer p,
.h4 a,
.home main p a,
.home main a a,
.home .nav [class^='item-'] p a,
footer p a {
  font-size: 1.25rem; }

p,
h5,
.h5,
a {
  font-size: 1rem; }

a {
  color: #505050; }

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative; }
  .container::after {
    content: '';
    background: url("../images/deco-invertsml.svg") no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 50px;
    bottom: -1px;
    left: 0;
    z-index: 1; }
  .container.featurebtm--three::after {
    content: '';
    background: url("../images/deco-invertsml-3.svg") no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 50px;
    bottom: -1px;
    left: 0;
    z-index: 1; }

.line {
  margin: 1.5rem 0;
  position: relative; }
  .line.line-over {
    margin: 1.5rem 0 0;
    top: -2rem; }

.intro {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0; }
  @media only screen and (min-width: 48em) {
    .intro {
      padding: inherit; } }

.avatar--wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all .3s ease-out;
  height: 100vh;
  width: 100%;
  text-decoration: none; }
  @media only screen and (min-width: 48em) {
    .avatar--wrapper {
      height: 350px;
      width: auto; } }
  .avatar--wrapper .avatar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 350px;
    width: 100%; }
  .avatar--wrapper img {
    transition: transform 1s ease-out;
    transform: scale(0.9); }
  .avatar--wrapper h3 {
    background: #4E5962;
    color: #F7F9F9;
    font-weight: 300;
    padding: 0 1.5rem;
    position: relative;
    z-index: 10;
    text-align: center;
    align-self: flex-start;
    width: 100%; }
    @media only screen and (min-width: 48em) {
      .avatar--wrapper h3 {
        width: auto;
        top: 1rem; }
        .avatar--wrapper h3::before {
          content: '';
          background: url("../images/path-right.svg") no-repeat;
          width: 200px;
          height: 200px;
          right: -34%;
          pointer-events: none;
          top: 1rem;
          position: absolute;
          display: block; } }
  .avatar--wrapper h4 {
    display: block;
    position: relative;
    top: -3rem;
    z-index: 10; }
    .avatar--wrapper h4 span {
      text-decoration: underline; }
    .avatar--wrapper h4 small {
      display: block;
      text-align: center; }
    @media only screen and (min-width: 48em) {
      .avatar--wrapper h4::after {
        content: '';
        background: url("../images/path-left.svg") no-repeat;
        width: 200px;
        height: 200px;
        left: -120%;
        top: -7rem;
        position: absolute;
        pointer-events: none;
        display: block; } }
  .avatar--wrapper .avatar-img {
    position: relative;
    backface-visibility: hidden;
    z-index: 0; }
  .avatar--wrapper .submask {
    max-width: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    transition: bottom .25s ease-out, top .25s ease-out; }
    .avatar--wrapper .submask-top {
      top: -4.5rem; }
    .avatar--wrapper .submask-bottom {
      transform: translateY(-40px) rotate(180deg);
      bottom: -6.5rem; }
  .avatar--wrapper:hover {
    cursor: pointer; }
    @media only screen and (min-width: 48em) {
      .avatar--wrapper:hover {
        height: 450px; } }
    .avatar--wrapper:hover img {
      transition: transform 1s ease-out .25s;
      transform: scale(1); }
    .avatar--wrapper:hover .submask-top {
      top: -6rem; }
    .avatar--wrapper:hover .submask-bottom {
      bottom: -5rem; }

.home {
  background: url("../images/deco-top.svg") no-repeat;
  background-size: 100%;
  background-position-y: -1px; }
  .home::after {
    background: none; }
  .home .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto; }
    @media only screen and (min-width: 87em) {
      .home .wrapper {
        max-width: 80vw; } }
  .home header {
    max-width: 80vw;
    grid-column: 1 / -1;
    align-self: flex-start;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem; }
    .home header h1 {
      color: white;
      font-size: 2.441rem; }
      @media only screen and (max-width: 48em) {
        .home header h1 {
          font-size: 1.563rem; } }
  .home main {
    grid-column: 1 / -1; }
    @media only screen and (min-width: 48em) {
      .home main {
        grid-column: 1 / 3;
        padding: 1.5rem 1.5rem 1.5rem 0; } }
    .home main p {
      font-weight: 300;
      color: white;
      display: inline-block;
      padding: 0.25em 0.5em 0 1.5rem;
      background: rgba(78, 89, 98, 0.75);
      margin-bottom: 0.5rem; }
      .home main p > span {
        font-weight: 600; }
      .home main p a {
        color: #AEC4D5; }
  .home .me {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 3 / 4; }
    .home .me span {
      display: block;
      margin: 0 auto;
      text-align: center;
      max-width: 100%; }
    .home .me img {
      max-width: 85%; }
  .home .nav {
    align-self: normal;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 4 / 6;
    display: flex;
    flex-flow: column nowrap;
    position: relative; }
    @media only screen and (min-width: 48em) {
      .home .nav {
        align-self: initial;
        grid-column: 2 / 4;
        width: auto; } }
    .home .nav h2 {
      text-align: center; }
    .home .nav nav {
      width: 100%; }
    .home .nav .itemNav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px min-content;
      justify-content: center;
      list-style: none;
      margin: 1.5rem auto; }
      @media only screen and (min-width: 48em) {
        .home .nav .itemNav {
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: 200px min-content; } }
    .home .nav [class^='item-'] {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      position: relative; }
      .home .nav [class^='item-'] a {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        min-height: 60px;
        text-decoration: none;
        position: relative;
        width: 100%; }
      .home .nav [class^='item-'] p {
        color: #505050;
        position: relative;
        top: 1.5rem; }
      .home .nav [class^='item-']:hover .img-mask {
        top: 0; }
      .home .nav [class^='item-']:hover .img-item {
        filter: blur(4px);
        opacity: .25;
        transform: translateY(-1rem); }
      .home .nav [class^='item-'] .img-item {
        height: 60px;
        filter: blur(0);
        transform: translateY(0);
        transition: 5s all ease-out;
        position: relative; }
      .home .nav [class^='item-'] .img-mask {
        display: block;
        width: 100%;
        height: 60px;
        background: url("../images/feature-mask.png") no-repeat center;
        background-size: contain;
        position: relative;
        top: -1.5rem;
        transition: .5s all ease-out; }
    @media only screen and (min-width: 48em) {
      .home .nav .item-layout {
        grid-column: 1 / 2; } }
    @media only screen and (min-width: 48em) {
      .home .nav .item-responsive {
        grid-column: 3 / 4; } }
    @media only screen and (min-width: 48em) {
      .home .nav .item-css {
        grid-column: 5 / 6; } }
    @media only screen and (min-width: 48em) {
      .home .nav .item-ux {
        grid-column: 2 / 3; } }
    .home .nav .item-ux .img-item {
      height: 55px; }
    .home .nav .item-music {
      grid-column: 1 / -1; }
      @media only screen and (min-width: 48em) {
        .home .nav .item-music {
          grid-column: 4 / 5; } }

.showFeature {
  display: none;
  width: calc(100vw - $component-space-small);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transition: all 1s ease-out; }
  .showFeature li[class^='contentItem-'] {
    display: none;
    height: 100%; }
  .showFeature.show {
    animation: frame .5s ease-out forwards;
    background: rgba(174, 196, 213, 0.35);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center; }
    .showFeature.show.show-layout .contentItem-layout {
      display: grid; }
    .showFeature.show.show-layout .placeholder {
      background-image: url("../images/works/spines1.png"); }
    .showFeature.show.show-css .contentItem-css {
      display: grid; }
    .showFeature.show.show-css .placeholder {
      background-image: url("../images/works/modular.png"); }
    .showFeature.show.show-ux .contentItem-ux {
      display: grid; }
    .showFeature.show.show-ux .placeholder {
      background-image: url("../images/works/spines2.png"); }
    .showFeature.show.show-rwd .contentItem-rwd {
      display: grid; }
    .showFeature.show.show-rwd .placeholder {
      background-image: url("../images/works/traginer1.jpg"); }
    .showFeature.show.show-music .contentItem-music {
      display: grid; }
    .showFeature.show.show-music .placeholder {
      background-image: url("../images/works/traginer1.jpg"); }
  .showFeature .close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem; }
  .showFeature .showFeatureItem {
    padding: 1rem;
    opacity: 0;
    border-radius: 8px;
    animation: frameItem .5s ease-out 1s forwards;
    background: rgba(247, 249, 249, 0.5);
    border: 2px solid rgba(80, 80, 80, 0.05);
    width: 90%;
    position: relative; }
    @media only screen and (min-width: 100em) {
      .showFeature .showFeatureItem {
        width: 62%; } }
    .showFeature .showFeatureItem li {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      grid-gap: 1rem; }

@keyframes frame {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes frameItem {
  0% {
    opacity: 0;
    scale: 0; }
  100% {
    opacity: 1;
    scale: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.contentItem-header,
.contentItem-footer {
  opacity: 0; }
  .contentItem-header h3,
  .contentItem-footer h3 {
    color: #4E5962;
    font-weight: normal;
    padding-bottom: 1.5rem; }

.contentItem-header {
  grid-column: 1;
  animation: fade .5s ease-out 1.5s forwards;
  display: flex;
  flex-flow: column; }
  .contentItem-header h3 {
    padding-bottom: 0; }

.placeholder {
  display: grid;
  background-color: #EA507C;
  background-position: var(--xpos) var(--ypos);
  background-repeat: no-repeat;
  box-shadow: inset 5px 0 5px 0 rgba(78, 89, 98, 0.15), inset 0 0 0 1px rgba(78, 89, 98, 0.25);
  border-radius: 0 10px 10px 0;
  min-width: 50%;
  min-height: 100%;
  grid-column: 2 / 3;
  grid-row: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  .placeholder.is-active span:nth-child(1) {
    animation-delay: 0.15s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(2) {
    animation-delay: 0.3s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(3) {
    animation-delay: 0.45s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(4) {
    animation-delay: 0.6s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(5) {
    animation-delay: 0.75s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(6) {
    animation-delay: 0.9s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(7) {
    animation-delay: 1.05s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(8) {
    animation-delay: 1.2s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(9) {
    animation-delay: 1.35s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(10) {
    animation-delay: 1.5s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(11) {
    animation-delay: 1.65s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(12) {
    animation-delay: 1.8s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(13) {
    animation-delay: 1.95s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(14) {
    animation-delay: 2.1s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(15) {
    animation-delay: 2.25s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(16) {
    animation-delay: 2.4s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder span {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .placeholder span::after, .placeholder span::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
    .placeholder span::after {
      background: #bdbdbd;
      z-index: 5; }
    .placeholder span::before {
      background: #F5F5F5;
      backface-visibility: hidden;
      z-index: 10; }

@keyframes flip {
  0% {
    transform: rotate3d(1, 0, 0, 0); }
  100% {
    transform: rotate3d(1, 0, 0, 90deg); } }

.placeholder-static {
  border-radius: 0 10px 10px 0;
  grid-column: 2 / 3;
  grid-row: 1; }
  .placeholder-static img {
    max-width: 100%; }

.placeholderContent {
  grid-column: 1 / 2;
  grid-row: 1; }
  .placeholderContent .pic {
    float: left;
    margin: 0 1rem 0 0;
    max-width: 50%; }
  .placeholderContent .deco {
    max-width: 100%; }

.contentItem-text {
  display: grid;
  grid-template-columns: 1fr 45%;
  grid-column: 1 / -1;
  column-gap: 1rem;
  animation: fade .5s ease-out 2s forwards;
  opacity: 0;
  padding: 1rem;
  color: #505050;
  background: rgba(245, 245, 245, 0.95);
  border-radius: 10px 10px 0 10px;
  align-items: flex-start;
  justify-content: center;
  min-height: 75vh; }
  .contentItem-text p {
    margin-bottom: 1rem; }
    .contentItem-text p strong {
      background: rgba(174, 196, 213, 0.15);
      box-shadow: 5px 4px 0 rgba(174, 196, 213, 0.5); }
  .contentItem-text.contentItem-text--simple {
    grid-template-columns: 1fr; }

.contentItem-video {
  animation: fade .5s ease-out 3s forwards;
  opacity: 0;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  background: rgba(245, 245, 245, 0.95);
  border-radius: 0 10px 10px 10px;
  transition: transform .3s ease-in-out;
  transform-origin: 150% 150%;
  align-items: center;
  justify-content: center;
  overflow: auto; }
  .contentItem-video:hover {
    transform: scale(1.5);
    box-shadow: 0 0 20px rgba(80, 80, 80, 0.25); }
  .contentItem-video.is-music {
    justify-content: flex-start; }

.contentItem-footer {
  grid-column: 2;
  grid-row: 1;
  animation: fade .5s ease-out 3s forwards; }

.moreGrid--wrapper {
  grid-column: 2;
  display: flex;
  flex: 1; }

.jobs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem; }

.jobsA .job0 {
  border: 2px solid #007fb1;
  background: #007fb1 url("../images/works/spines0.png");
  background-size: cover;
  height: 80px;
  width: 80px; }

.jobsA .job1 {
  border: 2px solid #007bac;
  background: #007bac url("../images/works/spines1.png");
  background-size: cover;
  height: 80px;
  width: 80px; }

.jobsA .job2 {
  border: 2px solid #00709d;
  background: #00709d url("../images/works/spines2.png");
  background-size: cover;
  height: 80px;
  width: 80px; }

.jobsB .job0 {
  border: 2px solid #007fb1;
  background: #007fb1 url("../images/works/traginer0.jpg");
  background-size: cover;
  height: 80px;
  width: 80px; }

.jobsB .job1 {
  border: 2px solid #007bac;
  background: #007bac url("../images/works/traginer1.jpg");
  background-size: cover;
  height: 80px;
  width: 80px; }

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth; }

body {
  background: #F7F9F9; }

footer {
  display: flex;
  justify-content: flex-end;
  background: url("../images/deco-btm.svg") no-repeat;
  background-size: 100%;
  min-height: 15rem; }
  footer p {
    margin: auto 0 1.5rem;
    flex: 0 50%;
    font-weight: 300;
    color: white;
    display: inline-block;
    padding: 0.25em 0.5em 0 1.5rem;
    background: rgba(78, 89, 98, 0.75); }
    footer p a {
      color: #AEC4D5; }
