@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600&font-display=swap");
:root {
  --xpos: 0;
  --ypos: 0; }

.animatable {
  opacity: 0; }

@keyframes top {
  from {
    transform: translateY(-100px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes bottom {
  from {
    transform: translateY(100px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes right {
  from {
    transform: translateX(-200px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes left {
  from {
    transform: translateX(200px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Nunito', sans-serif; }

h1,
.h1 {
  font-size: 2.441rem; }

h2,
.h2 {
  font-size: 1.953rem; }

h3,
.h3,
.home main p > span {
  font-size: 1.563rem; }

h4,
.h4,
.home main p,
.home main a,
.work .nav [class^='item-'] p,
footer p,
.h4,
.home main p,
.home main a,
.work .nav [class^='item-'] p,
footer p {
  font-size: 1.25rem; }

strong {
  background: rgba(156, 176, 190, 0.15);
  box-shadow: 3px 3px 0 rgba(156, 176, 190, 0.36);
  padding: 0 .15em;
  display: inline-block; }
  .contentItem--wrapper strong {
    background: rgba(77, 28, 53, 0.25);
    box-shadow: 3px 3px 0 0px rgba(24, 16, 16, 0.36); }

p,
h5,
.h5 {
  font-size: 1rem; }

a {
  color: #52768d;
  transition: color .3s ease-out; }
  a:hover {
    color: #9CB0BE; }

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative; }
  .container::after {
    content: '';
    background-image: url("../images/wave.svg");
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    min-height: 50px;
    bottom: -1px;
    left: 0;
    z-index: 1;
    animation: wave 8s ease-in-out infinite; }

@keyframes wave {
  0% {
    background-position-x: 0; }
  50% {
    background-position-x: -300%; }
  100% {
    background-position-x: 0%; } }
  .container.featurebtm--three::after {
    content: '';
    background: url("../images/deco-invertsml-3.svg") no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 50px;
    bottom: -1px;
    left: 0;
    z-index: 1; }

.line {
  margin: 1.5rem 0;
  position: relative; }
  .line.line-over {
    margin: 1.5rem 0 0;
    top: -2rem; }

.intro {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0; }
  @media only screen and (min-width: 48em) {
    .intro {
      padding: inherit; } }
  @media only screen and (min-width: 100em) {
    .intro {
      justify-content: center; } }
  .intro nav {
    display: none; }
    @media only screen and (min-width: 48em) {
      .intro nav {
        animation: bottom 1s ease-out 3s forwards;
        display: block;
        top: -3rem;
        opacity: 0;
        position: relative; } }
    @media only screen and (min-width: 100em) {
      .intro nav {
        position: absolute;
        top: 92vh; } }
  .intro ul {
    display: flex;
    list-style: none;
    align-self: flex-end; }
    .intro ul a {
      padding: 1.5rem;
      color: #52768d; }
      .intro ul a:hover {
        color: #9CB0BE; }

.avatar--wrapper {
  display: flex;
  color: #4E5962;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all .3s ease-out;
  height: 100vh;
  width: 100%;
  text-decoration: none; }
  @media only screen and (min-width: 48em) {
    .avatar--wrapper {
      justify-content: space-around;
      top: 15vh;
      height: 100%;
      width: auto; } }
  @media only screen and (min-width: 100em) {
    .avatar--wrapper {
      top: 0; } }
  .avatar--wrapper .avatar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%; }
  .avatar--wrapper img {
    transition: transform 1s ease-out;
    transform: scale(0.65);
    transform-origin: center; }
    @media only screen and (min-width: 48em) {
      .avatar--wrapper img {
        transform: scale(0.75); } }
  .avatar--wrapper h3,
  .avatar--wrapper h4 {
    transition: top .25s ease-in-out;
    position: relative;
    text-align: center;
    font-weight: 300;
    opacity: 0;
    z-index: 10; }
  .avatar--wrapper h3 {
    background: #4E5962;
    color: #F7F9F9;
    padding: 0.5rem 1rem;
    align-self: flex-start;
    width: 100%;
    animation: fade 1s ease-out 1s forwards;
    font-size: 1.25rem; }
    @media only screen and (min-width: 48em) {
      .avatar--wrapper h3 {
        font-size: 1.563rem;
        padding: 0 1.5rem;
        top: 2rem;
        width: auto; }
        .avatar--wrapper h3::after, .avatar--wrapper h3::before {
          content: '';
          width: 200px;
          height: 200px;
          pointer-events: none;
          top: 1rem;
          position: absolute;
          display: block;
          opacity: 0;
          animation: fade 1s ease-out 2s forwards; }
        .avatar--wrapper h3::after {
          background: url("../images/path-left.svg") no-repeat;
          left: -12.5%; }
        .avatar--wrapper h3::before {
          content: '';
          background: url("../images/path-right.svg") no-repeat;
          right: -34%; } }
  .avatar--wrapper h4 {
    animation: fade 1s ease-out 1.5s forwards;
    top: -15%; }
    @media only screen and (min-width: 48em) {
      .avatar--wrapper h4 {
        top: -3rem; } }
    .avatar--wrapper h4 > span {
      font-weight: 400;
      text-decoration: underline; }
    .avatar--wrapper h4 small {
      display: block;
      color: #505050;
      text-align: center; }
      .avatar--wrapper h4 small span {
        opacity: 0;
        animation: fade 1s ease-out 2.5s forwards;
        text-decoration: none;
        color: #4E5962; }
  .avatar--wrapper .avatar-img {
    position: relative;
    backface-visibility: hidden;
    z-index: 0;
    overflow: hidden;
    opacity: 0;
    animation: fade 1s ease-out .5s forwards; }
    @media only screen and (min-width: 48em) {
      .avatar--wrapper .avatar-img::after, .avatar--wrapper .avatar-img::before {
        content: '';
        display: block;
        border-radius: 40%;
        position: absolute;
        bottom: -75%;
        width: 100%;
        height: 100%;
        background: #F7F9F9;
        transform-origin: 45% center;
        filter: blur(8px); }
      .avatar--wrapper .avatar-img::after {
        right: -20%;
        animation: rotate 30s ease-in-out infinite; }
      .avatar--wrapper .avatar-img::before {
        left: 0%;
        animation: rotate 35s linear infinite reverse;
        z-index: 1; } }
  .avatar--wrapper .submask {
    max-width: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    transition: bottom .25s ease-out, top .25s ease-out;
    opacity: 0;
    animation: fade .5s ease-out forwards; }
    .avatar--wrapper .submask-top {
      top: -1rem; }
      @media only screen and (min-width: 100em) {
        .avatar--wrapper .submask-top {
          top: -35%; } }
  .avatar--wrapper:hover {
    cursor: pointer;
    color: currentColor;
    transform-origin: center; }
    @media only screen and (min-width: 48em) {
      .avatar--wrapper:hover {
        height: 100%; } }
    .avatar--wrapper:hover h3 {
      top: 0; }
    .avatar--wrapper:hover h4 {
      top: -4rem; }
      @media only screen and (min-width: 48em) {
        .avatar--wrapper:hover h4 {
          top: -1rem; } }
    .avatar--wrapper:hover img {
      transition: transform 1s ease-out .25s;
      transform: scale(0.8); }
    .avatar--wrapper:hover .submask-top {
      top: -25%; }
      @media only screen and (min-width: 100em) {
        .avatar--wrapper:hover .submask-top {
          top: -40%; } }

@keyframes rotate {
  0% {
    transform: rotate(0) translateX(-10%); }
  50% {
    transform: rotate(360deg) translateX(10%); }
  100% {
    transform: rotate(0) translateX(-10%); } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.home {
  background: url("../images/deco-top.svg") no-repeat;
  background-size: 100%;
  background-position-y: -1px; }
  .home::after {
    background: none; }
  .home .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto; }
    @media only screen and (min-width: 87em) {
      .home .wrapper {
        max-width: 80vw; } }
  .home header {
    max-width: 80vw;
    grid-column: 1 / -1;
    align-self: flex-start;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem; }
    .home header h1 {
      color: white;
      font-size: 2.441rem; }
      @media only screen and (max-width: 48em) {
        .home header h1 {
          font-size: 1.563rem; } }
  .home main {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5rem;
    padding: 6em 0 1.5rem 0;
    overflow: hidden; }
    @media only screen and (min-width: 90em) {
      .home main {
        padding: 8em 0 1.5rem 0; } }
    .home main .introAbout {
      grid-column: 1 / -1; }
      @media only screen and (min-width: 48em) {
        .home main .introAbout {
          grid-column: 1 / 4;
          grid-row: 1; } }
      .home main .introAbout > h2 {
        color: #505050;
        font-size: 1.563rem;
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin-bottom: 1em; }
        .home main .introAbout > h2 span {
          font-size: initial; }
    .home main .moreAbout {
      display: none;
      grid-column: 1 / -1;
      margin-bottom: 3rem; }
      .home main .moreAbout p {
        padding: 0.25em 1.5rem 0; }
        @media only screen and (min-width: 48em) {
          .home main .moreAbout p {
            padding: 0.25em 1.5rem 0 0; } }
      .home main .moreAbout.is-open {
        display: block;
        opacity: 0;
        animation: left .5s ease-out .5s forwards; }
      @media only screen and (min-width: 48em) {
        .home main .moreAbout {
          grid-column: 4 / 7;
          grid-row: 2; } }
    .home main .timeline {
      grid-column: 1 / -1;
      display: none; }
      .home main .timeline.is-open {
        display: block;
        opacity: 0;
        animation: right .5s ease-out forwards; }
      @media only screen and (min-width: 48em) {
        .home main .timeline {
          grid-column: 1 / 3;
          grid-row: 2; } }
      .home main .timeline li {
        margin-bottom: 1.5rem;
        opacity: 0; }
        .home main .timeline li h4 {
          margin-left: 1.5rem; }
        .home main .timeline li:nth-child(1) {
          animation-delay: 0.5s;
          animation-name: right;
          animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
          animation-duration: .5s;
          animation-fill-mode: forwards; }
          .home main .timeline li:nth-child(1) p {
            border-right: 2px solid rgba(185, 80, 110, calc(.15 * 1)); }
        .home main .timeline li:nth-child(2) {
          animation-delay: 1s;
          animation-name: right;
          animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
          animation-duration: .5s;
          animation-fill-mode: forwards; }
          .home main .timeline li:nth-child(2) p {
            border-right: 2px solid rgba(185, 80, 110, calc(.15 * 2)); }
        .home main .timeline li:nth-child(3) {
          animation-delay: 1.5s;
          animation-name: right;
          animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
          animation-duration: .5s;
          animation-fill-mode: forwards; }
          .home main .timeline li:nth-child(3) p {
            border-right: 2px solid rgba(185, 80, 110, calc(.15 * 3)); }
        .home main .timeline li:nth-child(4) {
          animation-delay: 2s;
          animation-name: right;
          animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
          animation-duration: .5s;
          animation-fill-mode: forwards; }
          .home main .timeline li:nth-child(4) p {
            border-right: 2px solid rgba(185, 80, 110, calc(.15 * 4)); }
        .home main .timeline li:nth-child(5) {
          animation-delay: 2.5s;
          animation-name: right;
          animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
          animation-duration: .5s;
          animation-fill-mode: forwards; }
          .home main .timeline li:nth-child(5) p {
            border-right: 2px solid rgba(185, 80, 110, calc(.15 * 5)); }
        .home main .timeline li:nth-child(6) {
          animation-delay: 3s;
          animation-name: right;
          animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
          animation-duration: .5s;
          animation-fill-mode: forwards; }
          .home main .timeline li:nth-child(6) p {
            border-right: 2px solid rgba(185, 80, 110, calc(.15 * 6)); }
        .home main .timeline li:nth-child(7) {
          animation-delay: 3.5s;
          animation-name: right;
          animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
          animation-duration: .5s;
          animation-fill-mode: forwards; }
          .home main .timeline li:nth-child(7) p {
            border-right: 2px solid rgba(185, 80, 110, calc(.15 * 7)); }
        .home main .timeline li p:first-child {
          border-right: 0; }
    .home main p {
      font-weight: 300;
      color: #4E5962;
      display: inline-block;
      padding: 0.25em 0.5em 0 1.5rem;
      margin-bottom: 0.5rem; }
      .home main p > span {
        font-weight: 600; }
      .home main p a {
        font-size: 1rem; }
    .home main .pbg {
      margin: 4rem 0; }
    .home main .pbg p {
      background: rgba(78, 89, 98, 0.05);
      font-size: 1em; }

.work::after {
  background: none; }

.work .me {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 3 / 4; }
  .work .me span {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 100%; }
  .work .me img {
    max-width: 65%; }

.work .nav {
  align-self: normal;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: 4 / 6;
  display: flex;
  flex-flow: column nowrap;
  position: relative; }
  @media only screen and (min-width: 48em) {
    .work .nav {
      align-self: initial;
      width: auto; } }
  .work .nav h2 {
    text-align: center; }
  .work .nav nav {
    width: 100%; }
  .work .nav .itemNav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9.375em min-content;
    justify-content: center;
    list-style: none;
    margin: 1.5rem auto 0; }
    @media only screen and (min-width: 48em) {
      .work .nav .itemNav {
        grid-template-columns: 1fr repeat(5, 7.5em) 1fr;
        grid-template-rows: min-content minmax(150px, max-content) min-content; } }
  .work .nav [class^='item-'] {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    position: relative;
    padding: 1.5rem 0;
    will-change: transform, top; }
    .work .nav [class^='item-'] a {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      min-height: 60px;
      text-decoration: none;
      position: relative;
      width: 100%; }
      .work .nav [class^='item-'] a.is-active p {
        color: #9CB0BE; }
    .work .nav [class^='item-'] p {
      color: #505050;
      position: relative;
      top: 1.5rem; }
    .work .nav [class^='item-']:hover .img-mask {
      top: 0; }
    .work .nav [class^='item-']:hover .img-item {
      filter: blur(3px);
      opacity: .25;
      transform: translateY(-1rem); }
    .work .nav [class^='item-'] .img-item {
      height: 60px;
      filter: blur(0);
      transform: translateY(0);
      transition: 3s all ease-out;
      position: relative; }
    .work .nav [class^='item-'] .img-mask {
      display: block;
      width: 100%;
      height: 60px;
      background: url("../images/feature-mask.png") no-repeat center;
      background-size: contain;
      position: relative;
      top: -1.5rem;
      transition: .5s all ease-out; }
  @media only screen and (min-width: 48em) {
    .work .nav .item-layout {
      grid-column: 2 / 3; } }
  @media only screen and (min-width: 48em) {
    .work .nav .item-responsive {
      grid-column: 4 / 5; } }
  @media only screen and (min-width: 48em) {
    .work .nav .item-css {
      grid-column: 6 / 7; } }
  @media only screen and (min-width: 48em) {
    .work .nav .item-ux {
      grid-column: 3 / 4; } }
  .work .nav .item-ux .img-item {
    max-width: 75px; }
  .work .nav .item-music {
    grid-column: 1 / -1; }
    @media only screen and (min-width: 48em) {
      .work .nav .item-music {
        grid-column: 5 / 6; } }

.showFeature {
  opacity: 0;
  z-index: 1000;
  transition: all 1s ease-out;
  grid-column: 1/-1;
  max-height: 0;
  position: relative;
  height: 0; }
  .showFeature li[class^='contentItem-'] {
    display: none;
    height: 100%; }
  .showFeature.show {
    animation: frame .5s ease-out forwards;
    max-height: 1000px;
    grid-row: 2 /3;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
    .showFeature.show.show-layout .contentItem-layout {
      display: grid; }
    .showFeature.show.show-layout .placeholder1 {
      background-image: url("../images/works/spines1.png"); }
    .showFeature.show.show-layout .placeholder2 {
      background-image: url("../images/works/cdr2.jpg"); }
    .showFeature.show.show-css .contentItem-css {
      display: grid; }
    .showFeature.show.show-css .placeholder {
      background-image: url("../images/works/modular.png"); }
    .showFeature.show.show-ux .contentItem-ux {
      display: grid; }
    .showFeature.show.show-ux .placeholder1 {
      background-image: url("../images/works/spines2.png"); }
    .showFeature.show.show-rwd .contentItem-rwd {
      display: grid; }
    .showFeature.show.show-rwd .placeholder1 {
      background-image: url("../images/works/rwd1.png"), url("../images/works/rwd2.png"); }
    .showFeature.show.show-music .contentItem-music {
      display: grid; }
    .showFeature.show.show-music .placeholder {
      background-image: url("../images/works/traginer1.jpg"); }
  .showFeature .close {
    color: white;
    font-size: .75em;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    padding-right: 1rem;
    z-index: 999; }
  .showFeature .showFeatureItem {
    padding: 3rem 2rem;
    opacity: 0;
    animation: frameItem .5s ease-out 1s forwards;
    background: #EA507C;
    border-top: 2px solid rgba(80, 80, 80, 0.025);
    border-bottom: 2px solid rgba(80, 80, 80, 0.025);
    position: relative;
    will-change: opacity, scroll-position; }
    .showFeature .showFeatureItem::before {
      content: '';
      position: absolute;
      width: 50%;
      margin: 0 auto;
      height: 1px;
      transform: translateX(50%);
      top: -2px;
      box-shadow: 0 7px 40px 1px rgba(80, 80, 80, 0.5);
      z-index: 1; }
    .showFeature .showFeatureItem li {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      column-gap: 1rem; }

@keyframes frame {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes frameItem {
  0% {
    opacity: 0;
    scale: 0; }
  100% {
    opacity: 1;
    scale: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.placeholder {
  display: grid;
  background-color: #b9506e;
  background-position: var(--xpos) var(--ypos);
  background-repeat: no-repeat;
  min-width: 50%;
  min-height: 100%;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  .placeholder.is-active span:nth-child(1) {
    animation-delay: 0.065s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(2) {
    animation-delay: 0.13s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(3) {
    animation-delay: 0.195s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(4) {
    animation-delay: 0.26s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(5) {
    animation-delay: 0.325s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(6) {
    animation-delay: 0.39s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(7) {
    animation-delay: 0.455s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(8) {
    animation-delay: 0.52s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(9) {
    animation-delay: 0.585s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(10) {
    animation-delay: 0.65s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(11) {
    animation-delay: 0.715s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(12) {
    animation-delay: 0.78s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(13) {
    animation-delay: 0.845s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(14) {
    animation-delay: 0.91s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(15) {
    animation-delay: 0.975s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder.is-active span:nth-child(16) {
    animation-delay: 1.04s;
    animation-name: flip;
    animation-timing-function: cubic-bezier(0.02, 0.53, 0.62, 1.21);
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .placeholder span {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .placeholder span::after, .placeholder span::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
    .placeholder span::after {
      background: #b9506e;
      z-index: 5; }
    .placeholder span::before {
      background: #EA507C;
      backface-visibility: hidden;
      z-index: 10; }

@keyframes flip {
  0% {
    transform: rotate3d(1, 0, 0, 0); }
  100% {
    transform: rotate3d(1, 0, 0, 90deg); } }

.placeholder-static {
  grid-column: 2 / 3;
  grid-row: 1; }
  .placeholder-static img {
    max-width: 100%; }

.contentItem-text {
  grid-column: 1 / 2;
  grid-row: 1;
  column-count: 2;
  column-gap: 1.5rem; }
  .contentItem-text .contentItem-header {
    opacity: 0;
    animation: fade .5s ease-out .5s forwards;
    display: flex;
    flex-flow: column;
    column-span: all; }
    .contentItem-text .contentItem-header h3 {
      color: white;
      font-weight: normal;
      padding-bottom: 1.5rem; }
  .contentItem-text .pic {
    margin: 0 1rem 0 0;
    max-width: 75%; }
  .contentItem-text .all-span {
    padding: 1em 2em;
    font-size: 1.5em;
    column-span: all;
    text-align: center; }
  .contentItem-text .deco {
    max-width: 100%; }
  .contentItem-text p span {
    color: #472c53;
    font-weight: 600; }

.contentItem--wrapper {
  display: grid;
  grid-template-columns: 1fr 45%;
  grid-column: 1 / -1;
  column-gap: 3rem;
  animation: fade .5s ease-out forwards;
  opacity: 0;
  padding: 1rem;
  color: white;
  background: #EA507C;
  align-items: flex-start;
  justify-content: center;
  min-height: 60vh; }
  .contentItem--wrapper p {
    color: white;
    margin-bottom: 1rem;
    line-height: 1.6; }
  .contentItem--wrapper.contentItem--simple {
    grid-template-columns: 1fr; }
    .contentItem--wrapper.contentItem--simple .contentItem-text {
      column-count: 3; }

.subMenu {
  position: relative;
  top: auto;
  height: 0;
  display: flex;
  transform: translateY(-1.8rem);
  justify-content: center;
  grid-column: 1 / -1;
  z-index: 0; }
  .subMenu li {
    list-style: none; }
    .subMenu li .is-active {
      color: rgba(245, 245, 245, 0.5);
      cursor: pointer;
      pointer-events: none; }
  .subMenu a {
    padding: 0.5rem;
    color: #fff;
    background: #EA507C;
    text-decoration: none;
    font-size: .65em; }

.question {
  position: relative;
  top: -1rem;
  padding: 1.5rem 0 0; }

.recent {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  position: relative; }
  .recent::after {
    background: none; }
  .recent h2,
  .recent h4 {
    text-align: center; }

.gallery {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  margin: 1.5rem 0 0;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .gallery {
      padding-right: 1.5rem;
      grid-template-columns: 250px 1fr; } }
  .gallery img {
    border: 1pt solid #E5E5E5;
    max-width: 100%;
    opacity: 0;
    position: relative;
    transform: translateY(1.5rem); }
    .gallery img.is-active {
      animation: showImg 1s ease .5s forwards; }
  .gallery .brand {
    display: flex;
    border: 0;
    filter: saturate(0);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10; }
    @media only screen and (max-width: 47.99em) {
      .gallery .brand {
        background-color: white; } }
    @media only screen and (min-width: 48em) {
      .gallery .brand {
        display: block;
        background-color: none; } }
    .gallery .brand img {
      align-self: flex-start;
      border: 0;
      max-width: 120px;
      position: sticky;
      top: 0; }
      @media only screen and (min-width: 48em) {
        .gallery .brand img {
          max-width: 200px; } }
  .gallery .gallery-items {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-flow: dense; }
  .gallery .super {
    grid-column: 1 / -1; }
  .gallery .normal {
    grid-column: span 2; }
  .gallery .tall {
    grid-row: span 2;
    max-height: 360px; }

@keyframes showImg {
  to {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 47.99em) {
    html {
      font-size: 85%; } }
  @media only screen and (min-width: 90em) {
    html {
      font-size: 125%; } }

body {
  background: #F7F9F9; }

footer {
  display: flex;
  justify-content: flex-end;
  background: url("../images/deco-btm.svg") no-repeat;
  background-size: 100%;
  min-height: 15rem; }
  footer p {
    margin: auto 0 1.5rem;
    flex: 1 50%;
    font-weight: 300;
    color: white;
    display: inline-block;
    padding: 0.25em 0.5em 0 1.5rem;
    background: rgba(78, 89, 98, 0.75); }
    @media only screen and (min-width: 48em) {
      footer p {
        flex: 0 50%; } }
    footer p a {
      color: #9CB0BE; }
