$colorsmap: (
   gray: (
     lighter: #F7F9F9,
     light: #F5F5F5,
     normal: #E5E5E5,
     pale: #bdbdbd,
     dark: #505050
   ),
   brand: (
     red: #EA507C,
     blue: #9CB0BE,
     dark: #4E5962
   )
);

@function setcolor($scheme, $swatch: dark) {
  @return map-get(map-get($colorsmap, $scheme), $swatch);
};
