
// Containers
.container{
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  &::after{
    content: '';
    background: url('../images/deco-invertsml.svg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 50px;
    bottom: -1px;
    left: 0;
    z-index: 1;
  }
  &.featurebtm--two{
    &::after{
      content: '';
      background: url('../images/deco-invertsml-2.svg') no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      min-height: 50px;
      bottom: -1px;
      left: 0;
      z-index: 1;
    }
  }
  &.featurebtm--three{
    &::after{
      content: '';
      background: url('../images/deco-invertsml-3.svg') no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      min-height: 50px;
      bottom: -1px;
      left: 0;
      z-index: 1;
    }
  }
}
.line{
  margin: $component-space 0;
  position: relative;
  &.line-over{
    margin: $component-space 0 0;
    top: -2rem;
  }
}

.showFeature{
  display: none;
  width: calc(100vw - $component-space-small);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transition: all 1s ease-out;
  [class^='feature-']{
    display: none;
  }
  &.show{
    animation: frame 1s ease-out forwards;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);  
    display: flex;
    justify-content: center;
    align-items: center;
    &.show-layout{
      .feature-layout{
        display: block;
      }
    }
    &.show-css{
      .feature-css{
        display: block;
      }
    }
    &.show-ux{
      .feature-ux{
        display: block;
      }
    }
    &.show-rwd{
      .feature-rwd{
        display: block;
      }
    }
    &.show-music{
      .feature-music{
        display: block;
      }
    }
  }
  
  #close{
    position: absolute;
    right: 0;
    top: 0;
  }
  .showFeatureItem{
    padding: 1rem;
    opacity: 0;
    border-radius: 20px;
    animation: frameItem .5s ease-out 1s forwards;
    background: setcolor(gray, dark);
    width: 75%;
    height: 100%;
  }
  @keyframes frame {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes frameItem {
    0%{
      clip-path: inset(50% 0% 50% 0%);
      opacity: 0;
      scale: 0;
    }
    100%{
      clip-path: inset(0% 0% 0% 0%);
      opacity: 1;
      scale: 1;
    }
  }
}
