
// Containers
.container{
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  a:hover{
    color: setcolor(brand, palered);
  }
  &::after{
    content: '';
    background-image: url('../images/wave.svg');
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    min-height: 50px;
    bottom: -1px;
    left: 0;
    z-index: 1;
    animation: wave 8s ease-in-out infinite;
  }

  @keyframes wave {
    0%{
      background-position-x: 0;
    }
    50%{
      background-position-x: -300%;
    }
    100%{
      background-position-x: 0%;
    }
  }
  &.featurebtm--three{
    &::after{
      content: '';
      background: url('../images/deco-invertsml-3.svg') no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      min-height: 50px;
      bottom: -1px;
      left: 0;
      z-index: 1;
    }
  }
}
.line{
  margin: $component-space 0;
  position: relative;
  &.line-over{
    margin: $component-space 0 0;
    top: -2rem;
    &:last-of-type{
      top: 0;
    }
  }
}

