
.showFeature {
  opacity: 0;
  z-index: 1000;
  transition: all 1s ease-out;
  grid-column: 1/-1;
  max-height: 0;
  position: relative;
  height: 0;

  li[class^='contentItem-'] {
    display: none;
    height: 100%;
  }

  &.show {
    animation: frame .5s ease-out forwards;
    max-height: 1000px;
    grid-row: 2 /3;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &.show-layout {
      .contentItem-layout {
        display: grid;
      }

      .placeholder1 {
        background-image: url('../images/works/spines1.png');
      }
      .placeholder2 {
        background-image: url('../images/works/spines2.png');
      }
    }

    &.show-css {
      .contentItem-css {
        display: grid;
      }

      .placeholder {
        background-image: url('../images/works/modular.png');
      }
    }

    &.show-ux {
      .contentItem-ux {
        display: grid;
      }

      .placeholder {
        background-image: url('../images/works/spines2.png');
      }
    }

    &.show-rwd {
      .contentItem-rwd {
        display: grid;
      }

      .placeholder {
        background-image: url('../images/works/traginer1.jpg');
      }
    }

    &.show-music {
      .contentItem-music {
        display: grid;
      }

      .placeholder {
        background-image: url('../images/works/traginer1.jpg');
      }
    }
  }

  .close {
    color: white;
    font-size: .75em;
    position: absolute;
    right: $component-space;
    top: $component-space;
    padding-right: $component-space-small;
    z-index: 999;
  }

  .showFeatureItem {
    padding: 3rem 2rem;
    opacity: 0;
    animation: frameItem .5s ease-out 1s forwards;
    background: setcolor(brand, red);
    border-top: 2px solid rgba(setcolor(gray, dark), .025);
    border-bottom: 2px solid rgba(setcolor(gray, dark), .025);
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 50%;
      margin: 0 auto;
      height: 1px;
      transform: translateX(50%);
      top: -2px;
      box-shadow: 0 7px 40px 1px rgba(setcolor(gray, dark), .5);
      z-index: 1;
    }

    li {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content 1fr;
      column-gap: $component-space-small;
    }
  }

  @keyframes frame {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes frameItem {
    0% {
      opacity: 0;
      scale: 0;
    }

    100% {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

}



.placeholder {
  display: grid;
  background-color: setcolor(brand, palered);
  background-position: var(--xpos) var(--ypos);
  background-repeat: no-repeat;
  min-width: 50%;
  min-height: 100%;
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  &.is-active span {
    @for $i from 1 to 17 {
      &:nth-child(#{$i}) {
        animation-delay: $i * .05s;
        animation-name: flip;
        animation-timing-function: cubic-bezier(.02, .53, .62, 1.21);
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
  }

  span {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &::after,
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    &::after {
      background: setcolor(gray, pale);
      z-index: 5;
    }

    &::before {
      background: setcolor(gray, light);
      backface-visibility: hidden;
      z-index: 10;
    }

    @keyframes flip {
      0% {
        transform: rotate3d(1, 0, 0, 0);
      }

      100% {
        transform: rotate3d(1, 0, 0, 90deg);
      }
    }
  }

}

.placeholder-static {
  grid-column: 2 / 3;
  grid-row: 1;

  img {
    max-width: 100%;
  }
}

.contentItem-text {
  grid-column: 1 / 2;
  grid-row: 1;
  column-count: 2;
  column-gap: $component-space;


  .contentItem-header {
    opacity: 0;
    animation: fade .5s ease-out .5s forwards;
    display: flex;
    flex-flow: column;
    column-span: all;
    h3 {
      color: white;
      font-weight: normal;
      padding-bottom: $component-space;
    }
  }


  .pic {
    margin: 0 $component-space-small 0 0;
    max-width: 75%;
  }
  .all-span{
    padding: 1em 2em;
    font-size: 1.5em;
    column-span: all;
    text-align: center;
  }
  .deco {
    max-width: 100%;
  }
  p span{
    color: #472c53;
    font-weight: 600;
  }
}

.contentItem--wrapper {
  display: grid;
  grid-template-columns: 1fr 45%;
  grid-column: 1 / -1;
  column-gap: $component-space-small*3;
  animation: fade .5s ease-out forwards;
  opacity: 0;
  padding: 1rem;
  color: white;
  background: setcolor(brand, red);
  align-items: flex-start;
  justify-content: center;
  min-height: 60vh;

  p {
    color: white;
    margin-bottom: $component-space-small;
    line-height: 1.6;
  }

  &.contentItem--simple {
    grid-template-columns: 1fr;
    .contentItem-text{
      column-count: 3;
    }
  }
}

.subMenu{
  position: relative;
  top: auto;
  height: 0;
  display: flex;
  transform: translateY(-1.85rem);
  justify-content: center;
  grid-column: 1 / -1;
  z-index: 0;
  li{
    list-style: none;
    .is-active{
      color: rgba(setcolor(brand, dark), .5);
      cursor: pointer;
      pointer-events: none;
    }
  }
  a{
    padding: $component-space-tiny;
    color: setcolor(brand, dark);
    background: setcolor(brand, blue);
    text-decoration: none;
    font-size: .65em;
  }
}

.question{
  position: relative;
  top: -$component-space-small;
  padding: $component-space 0 0;
}

