.showFeature{
  display: none;
  width: calc(100vw - $component-space-small);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transition: all 1s ease-out;
  li[class^='contentItem-']{
    display: none;
    height: 100%;
  }
  &.show{
    animation: frame 1s ease-out forwards;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    &.show-layout{
      .contentItem-layout{
        display: grid;
      }
    }
    &.show-css{
      .contentItem-css{
        display: grid;
      }
    }
    &.show-ux{
      .contentItem-ux{
        display: grid;
      }
    }
    &.show-rwd{
      .contentItem-rwd{
        display: grid;
      }
    }
    &.show-music{
      .contentItem-music{
        display: grid;
      }
    }
  }
  
  
  
  #close{
    position: absolute;
    right: 0;
    top: 0;
  }
  .showFeatureItem{
    padding: 1rem;
    opacity: 0;
    border-radius: 8px;
    animation: frameItem .5s ease-out 1s forwards;
    background: rgba(setcolor(gray, lighter), .35);
    border: 2px solid rgba(setcolor(gray, dark), .05);
    width: 98%;
    height: 95%;
    li{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    img,
    video{
      max-width: 100%;
    }
  }
  @keyframes frame {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes frameItem {
    0%{
      opacity: 0;
      scale: 0;
    }
    100%{
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes fade {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
}
.contentItem-header,
.contentItem-footer{
  opacity: 0;
  writing-mode: vertical-lr;
  h3{
    color: setcolor(gray, pale);
    font-weight: normal;
    text-align: right;
    padding-bottom: $component-space;
  }
}
.contentItem-header{
  animation: fade .5s ease-out 2s forwards;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-flow: column;
}
.contentItem-text{
  animation: fade .5s ease-out 2.5s forwards;
  opacity: 0;
  display: flex;
  grid-column: 1 / span 1;
  grid-row: 1 / 2;
  padding: 1rem;
  color: setcolor(gray, dark);
  background: rgba(setcolor(gray, light), .95);
  border-radius: 10px 10px 0 10px;
  align-items: flex-start;
  justify-content: center;
  p{
    flex: 1;
  }
  p + p{
    padding: 0 0 0 $component-space-small;
  }
}
.contentItem-video{
  animation: fade .5s ease-out 3.5s forwards;
  opacity: 0;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  background: rgba(setcolor(gray, light), .95);
  border-radius: 0 10px 10px 10px;
  transition: transform .3s ease-in-out;
  transform-origin: 150% 150%;
  align-items: center;
  justify-content: center;
  overflow: auto;
  &:hover{
    transform: scale(1.5);
    box-shadow: 0 0 20px rgba(setcolor(gray, dark), .25);
  }
  &.is-music{
    justify-content: flex-start;
  }
}
.contentItem-footer{
  animation: fade .5s ease-out 3s forwards;
  grid-column: 1 / span 1;
  grid-row: 2 / 3;
  transform: rotate(180deg);
}
.moreGrid--wrapper{
  display: flex;
  flex: 1;  
  align-items: center;
  justify-content: center;
}
.jobs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $component-space;
}
.jobsA{
  @include job(2, #b1e9ff, 'spines', 'png');
}
.jobsB{
  @include job(1, #b1e9ff, 'traginer', 'jpg');
}
