// Avatar

.intro{
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0;
  @media only screen and (min-width: 48em){
    padding: inherit;
  }
  @media only screen and (min-width: 100em){
    justify-content: center;
  }
  nav{
    position: relative;
    top: -$component-space*2;
    opacity: 0;
    animation: bottom 1s ease-out 3s forwards;
    @media only screen and (min-width: 100em){
      position: absolute;
      top: 92vh;
    }
  }
  ul{
    display: flex;
    list-style: none;
    align-self: flex-end;
    a{
      padding: $component-space;
      color: setcolor(brand, darkblue);
      &:hover{
        color: setcolor(brand, blue);
      }
    }
  }
}
.avatar--wrapper{  
  display: flex;
  color: setcolor(brand, dark);
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  transition: all .3s ease-out;
  top: 15vh;
  height: 100vh;
  width: 100%;
  text-decoration: none;
  @media only screen and (min-width: 48em){
    height: 100%;
    width: auto;
  }
  @media only screen and (min-width: 100em){
    top: 0;
  }
  .avatar{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 350px;
    width: 100%;
    @media only screen and (min-width: 48em){
      height: 100%;
    }
  }
  img{
    transition: transform 1s ease-out;
    transform: scale(.75);
    transform-origin: center;
  }
  h3,
  h4{
    transition: top .25s ease-in-out;
    position: relative;
    text-align: center;
    font-weight: 300;
    opacity: 0;
    z-index: 10;
  }
  h3{
    background: setcolor(brand);
    color: setcolor(gray, lighter);
    padding: 0 $component-space;
    align-self: flex-start;
    width: 100%;
    animation: fade 1s ease-out 1s forwards;
    @media only screen and (min-width: 48em){
      width: auto;
      top: $component-space-small*2;
      &::after,
      &::before{
        content: '';
        width: 200px;
        height: 200px;
        pointer-events: none;
        top: 1rem;
        position: absolute;
        display: block;
        opacity: 0;
        animation: fade 1s ease-out 2s forwards;
      }
      &::after{
        background: url('../images/path-left.svg') no-repeat;
        left: -12.5%;
        
      }
      &::before{
        content: '';
        background: url('../images/path-right.svg') no-repeat;
        right: -34%;
      }
    }
  }
  h4{
    animation: fade 1s ease-out 1.5s forwards;
    top: -$component-space*2;
    > span{
      font-weight: 400;
      text-decoration: underline;
    }

    small{
      display: block;
      color: setcolor(gray, dark);
      text-align: center;
      span{
        opacity: 0;
        animation: fade 1s ease-out 2.5s forwards;
        text-decoration: none;
        color: setcolor(brand, dark);
      }
    }
  }
  .avatar-img{
    position: relative;
    backface-visibility: hidden;
    z-index: 0;
    overflow: hidden;
    opacity: 0;
    animation: fade 1s ease-out .5s forwards;
    // fx blur
    @media only screen and (min-width: 48em){
      &::after,
      &::before{
        content: '';
        display: block;
        border-radius: 40%;
        position: absolute;
        bottom: -75%;
        width: 100%;
        height: 100%;
        background: setcolor(gray, lighter);
        transform-origin: 45% center;
        filter: blur(8px);
      }
      &::after{
        right: -20%;
        animation: rotate 30s ease-in-out infinite;
      }
      &::before{
        left: 0%;
        animation: rotate 35s linear infinite reverse;
        z-index: 1;
      }
    }
  }
  .submask{
    max-width: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    transition: bottom .25s ease-out, top .25s ease-out;
    opacity: 0;
    animation: fade .5s ease-out forwards;
    
    &-top{
      top: -4.5rem;
      @media only screen and (min-width: 48em){
        top: -20%;
      }
      @media only screen and (min-width: 100em){
        top: -35%;
      }
    }
  }
  &:hover{
    cursor: pointer;
    color: currentColor;
    transform-origin: center;
    @media only screen and (min-width: 48em){
      height: 100%;
    }
    h3{
      top: 0;
    }
    h4{
      top: -$component-space-small;
    }
    img{
      transition: transform 1s ease-out .25s;
      transform: scale(.8);
    }

    .submask-top{
      top: -25%;
      @media only screen and (min-width: 100em){
        top: -40%;
      }
    }
  }

  @keyframes rotate{
    0%{
      transform: rotate(0) translateX(-10%);
    }
    50%{
      transform: rotate(360deg) translateX(10%);
    }
    100%{
      transform: rotate(0) translateX(-10%);
    }
  }
  @keyframes fade {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}
