// Avatar

.intro{
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0;
  @media only screen and (min-width: 48em){
    padding: inherit;
  }
}
.avatar--wrapper{  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all .3s ease-out;
  height: 100vh;
  width: 100%;
  text-decoration: none;
  @media only screen and (min-width: 48em){
    height: 100%;
    width: auto;
  }
  .avatar{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 350px;
    width: 100%;
    @media only screen and (min-width: 48em){
      // animation: rotate 90s linear infinite;
      height: 100%;
    }
  }
  img{
    transition: transform 1s ease-out;
    transform: scale(.8);
    transform-origin: center;
  }
  h3,
  h4{
    transition: top .25s ease-in-out;
    position: relative;
    z-index: 10;
  }
  h3{
    background: setcolor(brand);
    color: setcolor(gray, lighter);
    font-weight: 300;
    padding: 0 $component-space;
    text-align: center;
    align-self: flex-start;
    width: 100%;
    @media only screen and (min-width: 48em){
      width: auto;
      top: $component-space-small;
      &::before{
        content: '';
        background: url('../images/path-right.svg') no-repeat;
        width: 200px;
        height: 200px;
        right: -34%;
        pointer-events: none;
        top: 1rem;
        position: absolute;
        display: block;
      }
    }
  }
  h4{
    display: block;
    top: -$component-space*2;
    span{
      text-decoration: underline;
    }
    small{
      display: block;
      text-align: center;
    }
    &::after{
      @media only screen and (min-width: 48em){
        content: '';
        background: url('../images/path-left.svg') no-repeat;
        width: 200px;
        height: 200px;
        left: -120%;
        top: -7rem;
        position: absolute;
        pointer-events: none;
        display: block;
      }
    }
    
  }
  .avatar-img{
    position: relative;
    backface-visibility: hidden;
    z-index: 0;
    overflow: hidden;
    @media only screen and (min-width: 48em){
      &::after,
      &::before{
        content: '';
        display: block;
        position: absolute;
        bottom: -70%;
        width: 100%;
        height: 100%;
        background: setcolor(gray, lighter);
        transform-origin: 45% center;
        filter: blur(8px);
      }
      &::after{
        right: -20%;
        animation: rotate 30s ease-in-out infinite;
        border-radius: 40%;
      }
      &::before{
        left: 0%;
        animation: rotate 35s linear infinite reverse;
        border-radius: 40%;
        z-index: 1;
      }
    }
  }
  .submask{
    max-width: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    transition: bottom .25s ease-out, top .25s ease-out;
    
    &-top{
      top: -4.5rem;
      @media only screen and (min-width: 48em){
        top: -20%;
      }
    }
    &-bottom{
      transform: translateY(-40px) rotate(180deg);
      bottom: -6.5rem;
      @media only screen and (min-width: 48em){
        bottom: -20%;
      }
    }
  }
  &:hover{
    cursor: pointer;
    transform-origin: center;
    @media only screen and (min-width: 48em){
      height: 100%;
    }
    h3{
      top: 0;
    }
    h4{
      top: -$component-space-small;
    }
    img{
      transition: transform 1s ease-out .25s;
      transform: scale(1);
    }
    .avatar,
    .avatar-img{
      animation-play-state: paused;
    }
    .submask-top{
      top: -25%;
    }
    .submask-bottom{
      bottom: -25%;
    }
  }
  @keyframes rotate{
    0%{
      transform: rotate(0) translateX(-10%);
    }
    50%{
      transform: rotate(360deg) translateX(10%);
    }
    100%{
      transform: rotate(0) translateX(-10%);
    }
  }
}