// Avatar

.intro--wrapper{  
  display: flex;
  color: setcolor(brand, dark);
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  transition: all .3s ease-out;
  height: 100vh;
  width: 100%;
  @media only screen and (min-width: 48em){
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-around;
    top: 15vh;
    height: 100%;
    width: auto;
  }
  @media only screen and (min-width: 100em){
    top: 0;
  }
  a{
    color: currentColor;
    display: block;
    text-decoration: none;
  }

  .heroText{
    border-radius: 5px;
    border: 1pt solid transparent;
    padding: $component-space-tiny $component-space;
    display: block;
    position: absolute;
    z-index: 99999;
    max-width: 30rem;
    width: 100%;
    align-self: flex-start;
    transition: top .25s ease-in-out;
    z-index: 20;

    @media only screen and (max-width: 47.99em) {
      border: 0;
      padding: $component-space 0 0;
      width: 85%;
    }
    @media only screen and (min-width: 48em) {
      top: 8.5rem;
    }
    @media only screen and (min-width: 100em) {
      top: 5.925rem;
    }
    path {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      @for $i from 1 to 36 {
        &:nth-child(#{$i}) {
          animation-delay: $i * .12s;
          animation-name: dash;
          animation-timing-function: ease-in;
          animation-duration: .6s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  @keyframes colorBg {
    from{
      background-color: transparent;
    }
    to{
      background-color: setcolor(gray, light);
    }
  }
  @keyframes borderColor {
    from{
      border: 1pt solid transparent;
    }
    to{
      border: 1pt solid setcolor(gray, normal);
    }
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 100;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .heroText,
  h3,
  h4{
    transition: top .25s ease-in-out;
    position: relative;
    text-align: center;
    font-weight: 300;
  }
  h3{
    display: none;
    opacity: 0;
    @media only screen and (min-width: 48em){
      z-index: 10;
      color: setcolor(gray, lighter);
      display: block;
      font-size: 1.563rem;
      padding: 0 $component-space;
      top: $component-space-small*2;
      width: auto;
      &::after,
      &::before{
        content: '';
        width: 200px;
        height: 200px;
        pointer-events: none;
        top: 1rem;
        position: absolute;
        display: block;
        opacity: 0;
        animation: fade 1s ease-out forwards;
      }
      &::after{
        background: url('../images/path-left.svg') no-repeat;
        left: -12.5%;
      }
      &::before{
        content: '';
        background: url('../images/path-right.svg') no-repeat;
        right: -34%;
      }
    }
    @media only screen and (min-width: 48em) and (orientation: portrait){
      &::after{
        background: url('../images/path-left.svg') no-repeat;
        left: -10.5%;
      }
      &::before{
        right: -32%;
      }
    }
    @media only screen and (min-width: 100em){
      top: $component-space-small;
    }
  }
  h4{
    opacity: 0;
    z-index: 10;
    @media only screen and (max-width: 47.99em) and (orientation: landscape){
      display: none;
    }
    @media only screen and (min-width: 48em){
      top: $component-space*3;
    }
    @media only screen and (min-width: 100em){
      top: -$component-space;
    }
    
    > span{
      font-weight: 400;
      text-decoration: underline;
    }
    
    small{
      display: block;
      color: setcolor(gray, dark);
      margin-top: $component-space-tiny;
      text-align: center;
      span{
        opacity: 0;
        animation: fade 1s ease-out 2.5s forwards;
        text-decoration: none;
        color: setcolor(brand, dark);
      }
    }
  }

  @keyframes fade {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}
