.recent{
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  &::after{
    background: none;
  }
  h2,
  h4{
    text-align: center;
  }
}

.gallery{
  display: grid;
  width: 100%;
  position: relative;
  grid-template-columns: 250px 1fr;
  margin: $component-space 0 0;
  padding-right: $component-space;
  img{
    border: 1pt solid setcolor(gray, normal);
    max-width: 100%;
    opacity: 0;
    position: relative;
    transform: translateY($component-space);
    &.is-active{
      animation: showImg 1s ease .5s forwards;
    }
  }
  .brand{
    border: 0;
    filter: saturate(0);
    max-width: 200px;
    position: sticky;
    top: 0;
  }
  .gallery-items{
    display: grid;
    gap: $component-space-small;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-flow: dense;
  }
  .super{
    grid-column: 1 / -1;
  }
  .normal{
    grid-column: span 2;
  }
  .tall{
    grid-row: span 2;
    max-height: 360px;
  }
  @keyframes showImg{
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
}