h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Nunito', sans-serif;
}
h1,
.h1{
  font-size: 2.441rem;
}
h2,
.h2{
  font-size: 1.953rem;
}
h3,
.h3{
  font-size: 1.563rem;
}
h4,
.h4,
.h4{
  font-size: 1.25rem;
}
strong {
  background: rgba(setcolor(brand, blue), .15);
  box-shadow: 2px 2px 0 rgba(setcolor(brand, blue), .36);
  padding: 0 .15em;
  display: inline-block;
  .contentItem--wrapper &{
    background: rgba(77, 28, 53, 0.25);
    box-shadow: 2px 2px 0 0px rgba(24, 16, 16, 0.36);
  }
}
p,
h5,
.h5{
  font-size: 1rem;
}
a{
  color: setcolor(brand, darkblue);
  transition: color .3s ease-out;
  &:hover{
    color: setcolor(brand, blue);
  }

}
