$component-space: 1.5rem;
$component-space-small: 1rem;
$component-space-tiny: .5rem;
:root{
  --xpos: 0;
  --ypos: 0;
}

.animatable {
  opacity: 0;
}

@keyframes top {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to  {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes right {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to  {
    transform: translateX(0);
    opacity: 1;
  }
}