.work{
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  &::after{
    background: none;
  }
  h2,
  h4{
    text-align: center;
  }
  h4{
    margin: $component-space 0;
  }
}

.workGallery{
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  margin: $component-space 0 0;
  width: 100%;
  @media only screen and (min-width: 40em){
    padding-right: $component-space;
    grid-template-columns: 250px 1fr;
    grid-auto-rows: 1fr;
  }
  img{
    border: 1pt solid setcolor(gray, normal);
    max-width: 100%;
    opacity: 0;
    position: relative;
    perspective: 1000px;
    transform: translateY(5rem) rotateX(0) skew(0, 0);
    backface-visibility: hidden;
    transform-origin: 0;
    transform-style: preserve-3d;
    @media only screen and (min-width: 48em){
      transform: translateY(5rem) rotateX(85deg) skew(10deg, -5deg);
    }
    &.is-active{
      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          animation-delay: $i * .25s;
          animation-name: showImg;
          animation-timing-function: ease-out;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  .brand{
    display: flex;
    border: 0;
    filter: saturate(0);
    position: sticky;
    top: $component-space;
    width: 100%;
    z-index: 10;
    @media only screen and (max-width: 47.99em){
      background-color: white;
      box-shadow: 0px 5px 5px rgba(setcolor(gray, dark), .25);
      height: 48px;
      &-empty{
        display: none;
      }
    }
    @media only screen and (min-width: 48em){
      display: block;
      background-color: none;
    top: 0;

    }
    img{
      align-self: flex-start;
      border: 0;
      max-width: 120px;
      position: sticky;
      left: .75rem;
      top: $component-space;
      opacity: 1;
      transform: inherit;
      @media only screen and (min-width: 48em){
        left: 0;
        max-width: 200px;
      }
    }
  }
  .workGallery-items{
    display: grid;
    gap: $component-space-small;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    padding: $component-space-small;
    justify-items: center;
    @media only screen and (min-width: 48em){
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      justify-items: initial;
      padding: 0;
    }
  }
  .super{
    grid-column: 1 / -1;
  }
  .normal{
    grid-column: span 1;
    @media only screen and (min-width: 48em){
    grid-column: span 2;
    }
  }
  .tall{
    grid-row: span 2;
    max-height: 360px;
  }
  @keyframes showImg{
    to{
      opacity: 1;
      transform: translateY(0) rotateX(0) skew(0, 0);
    }
  }
}