@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');
@import 'colors';
@import 'variables';
@import 'typography';
@import 'containers';
@import 'intro';
@import 'home';
@import 'feature';

*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html{
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
}
body{
  background: setcolor(gray, lighter);
}






footer{
  display: flex;
  justify-content: flex-end;
  background: url('../images/deco-btm.svg') no-repeat;
  background-size: 100%;
  min-height: 15rem;
  p{
    @extend .h4;
    margin: auto 0 $component-space;
    flex: 0 50%;
    font-weight: 300;
    color: white;
    display: inline-block;
    padding: .25em .5em 0 $component-space;
    background: rgba(setcolor(brand, dark), .75);
  }
}
