@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');
@import 'colors';

*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$component-space: 1.5rem;
$component-space-small: 1rem;
$component-space-tiny: .5rem;


html{
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
}
body{
  background: setcolor(gray, lighter);
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Nunito', sans-serif;
}
h1,
.h1{
  font-size: 2.441rem;
}
h2,
.h2{
  font-size: 1.953rem;
}
h3,
.h3{
  font-size: 1.563rem;
}
h4,
.h4,
.h4 a{
  font-size: 1.25rem;
}
p,
h5,
.h5,
a{
  font-size: 1rem;
}

.container{
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
}
.line{
  margin: $component-space 0;
  position: relative;
  &.line-over{
    margin: $component-space 0 0;
    top: -2rem;
  }
}

// Avatar
.intro{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.avatar{  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  position: relative;
  transition: all .3s ease-out;
  img{
    transition: transform 1s ease-out;
    transform: scale(.9);
  }
  &:hover{
    cursor: pointer;
    height: 400px;
    img{
      transition: transform 1s ease-out;
      transform: scale(1);
    }
  }
  h3{
    background: setcolor(brand);
    color: setcolor(gray, lighter);
    font-weight: 300;
    padding: 0 $component-space;
    position: relative;
    top: $component-space-small;
    z-index: 10;
    
    pointer-events: none;
    &::before{
      content: '';
      background: url('../images/path-right.svg') no-repeat;
      width: 200px;
      height: 200px;
      right: -70%;
      top: 1rem;
      position: absolute;
      display: block;
    }
  }
  h4{
    position: relative;
    top: -$component-space*2;
    z-index: 10;
    pointer-events: none;
    &::after{
      content: '';
      background: url('../images/path-left.svg') no-repeat;
      width: 200px;
      height: 200px;
      left: -120%;
      top: -7rem;
      position: absolute;
      display: block;
    }
    
  }
  .avatar-img{
    position: relative;
    backface-visibility: hidden;
    z-index: 0;
  }
  .submask{
    max-width: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    &-top{
      top: 0;
    }
    &-bottom{
      bottom: 0;
      transform: translateY(-40px) rotate(180deg);
    }
  }
}

// Home

.home{
  background: url('../images/deco-top.svg') no-repeat;
  background-size: 100%;
  .wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-template-rows: min-content min-content min-content min-content;
    @media only screen and (min-width: 87em){
      max-width: 80vw;
    }
  }
  header{
    max-width: 80vw;
    grid-column: 1 / -1;
    align-self: flex-start;
    padding: 0 $component-space;
    margin-bottom: $component-space;
    h1{
      color: white;
    }
  }
  main{
    grid-column: 1 / 3;
    padding: $component-space $component-space $component-space 0;
    p,
    a{
      @extend .h4;
    }
    p{
      font-weight: 300;
      color: white;
      display: inline-block;
      padding: .25em .5em 0 $component-space;
      background: rgba(setcolor(brand, dark), .75);
      margin-bottom: $component-space-tiny;
      > span{
        @extend .h3;
        font-weight: 600;
      }
    }
  }
  .me{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    span{
      display: block;
      margin: 0 auto;
      text-align: center;
      max-width: 100%;
    }
    img{
      max-width: 85%;
    }
  }
  .nav{
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 4 / 6;
    display: flex;
    flex-flow: column nowrap;
    h2{
      text-align: center;
    }
    ul{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 200px min-content;
      justify-content: center;
      list-style: none;
      margin: $component-space auto;
    }
    [class^='item-']{
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      position: relative;
      a{
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        min-height: 60px;
        text-decoration: none;
        position: relative;
        width: 100%;
      }
      p{
        @extend .h4;
        color: setcolor(gray, dark);
        position: relative;
        top: $component-space;
      }
      &:hover{
        .img-mask{
          top: 0;
        }
      }
      .img-item{
        height: 60px;
      }
      .img-mask{
        display: block;
        width: 100%;
        height: 60px;
        background: url('../images/feature-mask.png') no-repeat center;
        background-size: contain;
        position: relative;
        top: -$component-space;
        transition: .5s all ease-out;
      }
    }
    .item-layout{
      grid-column: 1 / 2;
    }
    .item-responsive{
      grid-column: 3 / 4;
    }
    .item-css{
      grid-column: 5 / 6;
    }
    .item-ux{
      grid-column: 2 / 3;
      .img-item{
        height: 55px;
      }
    }
    .item-music{
      grid-column: 4 / 5;
    }
  }
  
}
.feature{
  background: url('../images/deco-topsml.svg') no-repeat;
  background-size: 100%;
  .wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-template-rows: min-content min-content min-content min-content;
    @media only screen and (min-width: 87em){
      max-width: 80vw;
    }
    header{
      color: white;
      display: flex;
      align-items: center;
      padding: $component-space-tiny $component-space;
      grid-column: 1 / -1;
      img{
        align-self: top;
        margin-right: $component-space-small;
        max-height: 70px;
        height: auto;
      }
    }
    .nav{
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 2 / 4;
      margin: 6rem 0 0;
      flex-flow: column nowrap;
      h2{
        color: setcolor(brand, red);
        text-align: center;
        a{
          color: setcolor(gray, dark);
          @extend .h2;
        }
      }
    }
    .feature-text{
      grid-column: 2 / 4;
      margin-bottom: $component-space-small;
    }
    .feature-sample{
      display: flex;
      grid-column: 1 / -1;
      justify-content: center;
      img{
        align-self: center;
        max-width: 100%;
      }
    }
    
  }
}
footer{
  display: flex;
  justify-content: flex-end;
  background: url('../images/deco-btm.svg') no-repeat;
  background-size: 100%;
  min-height: 15rem;
  p{
    @extend .h4;
    margin: auto 0 $component-space;
    flex: 0 50%;
    font-weight: 300;
    color: white;
    display: inline-block;
    padding: .25em .5em 0 $component-space;
    background: rgba(setcolor(brand, dark), .75);
  }
}
