@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&font-display=swap');
@import 
'colors',
'variables',
'typography',
'containers',
'mainNav',
'intro',
'about',
'skills',
'feature',
'feature-content',
'feature-placeholder',
'work';


*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus,
*:active{
  outline: 0;
}

html{
  font-size: 100%;
  height: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  @media only screen and (max-width: 47.99em){
    font-size: 85%;
  }
  @media only screen and (min-width: 90em){
    font-size: 125%;
  }  
}
body{
  background: setcolor(gray, lighter);
  height: 100%;
}

ul{
  list-style-position: inside;
  list-style: none;
}

.gotoTop{
  color: setcolor(brand, dark);
  display: none;
  background-color: rgba(255, 255, 255, .75);
  backdrop-filter: blur(3px);
  border-radius: 3px 0 0 3px;
  padding: 0 $component-space-small;
  position: fixed;
  bottom: $component-space-small;
  right: 0;
  z-index: 99;
  @media only screen and (min-width: 48em){
    display: none;
  }
  img{
    max-width: 14px;
  }
}

footer{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background: url('../images/deco-btm.svg') no-repeat;
  background-position-x: right;
  background-size: cover;
  margin-top: $component-space*3;
  min-height: 15rem;
  @media only screen and (min-width: 64em){
    margin-top: 0;
    background-size: 100%;
  }
  p{
    @extend .h4;
    background: rgba(setcolor(brand, dark), .75);
    margin: $component-space*2 0 $component-space-small;
    flex: 1 50%;
    font-weight: 300;
    color: white;
    display: inline-block;
    padding: $component-space;
    @media only screen and (min-width: 64em){
      flex: 0 45%;
      padding: $component-space;
    }
    a{
      color: setcolor(brand, blue);
    }
  }
}
